#overlay-background {
    width: 100%;
    height: calc(100% - 175px);
    background-color: rgba(0, 0, 0, 90%);
    position: fixed;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-container {
    max-height:80%;
    width: 60%;
    background-color: white;
    -ms-transform: translateY(15%);
    transform: translateY(15%);
    overflow: auto;
    display: flex;
    flex-direction: column;
}

.close-button {
    position: absolute;
    top: 1%;
    right: 1%;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

@media (max-width: 1000px) {
    #overlay-background {
        height: calc(100% - 75px);
    }

    .info-container {
        width: 75%;
    }
}

@media (max-width: 600px) {
    

    .info-container {
        width: 90%;
    }
}